<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>&quot;</key>
		<string>1</string>
	</dict>
	<key>1</key>
	<dict>
		<key>[a-z]</key>
		<string>1</string>
		<key>[0-9]</key>
		<string>1</string>
		<key> </key>
		<string>1</string>
		<key>&quot;</key>
		<string>2!</string>
	</dict>
</dict>
</plist>
