<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>RelOp</string>
	<key>0</key>
	<dict>
		<key>&lt;</key>
		<string>1</string>
		<key>=</key>
		<string>5!</string>
		<key>&gt;</key>
		<string>6</string>
	</dict>
	<key>1</key>
	<dict>
		<key>=</key>
		<string>2!</string>
		<key>&gt;</key>
		<string>3!</string>
		<key>*</key>
		<string>4!</string>
	</dict>
	<key>6</key>
	<dict>
		<key>=</key>
		<string>7!</string>
		<key>*</key>
		<string>8!</string>
	</dict>
</dict>
</plist>
